{%- set buffer_pool_mb = grains['mem_total'] * 0.375 -%}
{%- set buffer_pool_gb = buffer_pool_mb / 1024 -%}

[mysqld]

#
# Machine-specific tuning
#
max_connections = {{ (grains['mem_total'] / 100) | round | int }}
innodb_buffer_pool_instances = {{ buffer_pool_gb | round(0, 'ceil') | int }}
innodb_buffer_pool_size = {{ buffer_pool_mb | round | int }}M
innodb_log_file_size = {{ (buffer_pool_mb * 0.25) | round | int }}M

#
# General tuning
#
performance_schema = ON
query_cache_type = OFF
query_cache_size = 0
