{%- set maxconn = (grains['mem_total'] / 100) | round -%}
{%- set bpool_mb = grains['mem_total'] * 0.375 -%}
{%- set bpool_gb = bpool_mb / 1024 -%}
{%- set bpool_instances = bpool_gb | round(0, 'ceil') -%}

[mysqld]

#
# Machine-specific tuning
#
max_connections = {{ maxconn | int }}
innodb_buffer_pool_instances = {{ bpool_instances | int }}
innodb_buffer_pool_size = {{ bpool_mb | round | int }}M
innodb_log_file_size = {{ (bpool_mb * (0.25 / bpool_instances)) | round | int }}M

#
# General tuning
#
performance_schema = ON
query_cache_type = OFF
query_cache_size = 0
