{%- set bpool_mb = [grains['mem_total'] / 10, 512] | max -%}
{%- set bpool_gb = bpool_mb / 1024 -%}
{%- set bpool_instances = bpool_gb | round(0, 'ceil') -%}
{%- set logfile_mb = bpool_mb / 8 -%}
{%- set keybuf_mb = [grains['mem_total'] / 150, 8] | max -%}
{%- set maxconn = [grains['mem_total'] / 100, 5] | max -%}

[mysqld]

#
# Machine-specific tuning
#
innodb_buffer_pool_instances = {{ bpool_instances | int }}
innodb_buffer_pool_size = {{ bpool_mb | round | int }}M
innodb_log_file_size = {{ logfile_mb | round | int }}M
key_buffer_size = {{ keybuf_mb | round | int }}M
max_connections = {{ maxconn | round | int }}


#
# General tuning
#
innodb_file_per_table = ON
join_buffer_size = 1M
performance_schema = ON
query_cache_size = 0
query_cache_type = OFF
